clearlogs.sh

## tmp folder
tmp

## rendered pdf files
convolution_ct/*.pdf
convolution_dt/*.pdf
dft/*.pdf
dirac_impulse_ct/*.pdf
dirac_impulse_dt/*.pdf
dtft/*.pdf
fs/*.pdf
ft/*.pdf
fundamental_signals_ct/*.pdf
fundamental_signals_dt/*.pdf
jupyter/*.pdf
laplace_system_analysis/*.pdf
laplace_transform/*.pdf
sampling/*.pdf
signal_operations_ct/*.pdf
signal_operations_dt/*.pdf
system_properties_ct/*.pdf
system_properties_dt/*.pdf
z_system_analysis/*.pdf
z_transform/*.pdf

exercises_latex_deu/*.pdf
tutorial_extended_latex_deu/*.pdf
tutorial_latex_deu/*.pdf
tutorial_latex_eng/*.pdf

## tmp store for live teaching
convolution_ct_example3_C964DD7400 copy 2.ipynb
convolution_ct_example3_C964DD7400 copy.ipynb

## ipynb stuff
*-checkpoint.ipynb
*.cut
__pycache__

## PyCharm
.idea

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.nav
*.snm

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

